$primary: #e2b100;
$secondary: #222222;
$accent: #9c27b0;
$dark: #151515;
$dark-page: #151515;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

@import "~quasar-variables-styl";
